IndentWidth: 4
IndentCaseLabels: true
PointerAlignment: Left
ColumnLimit: 200
AllowShortIfStatementsOnASingleLine: true
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
